* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 80%;
    margin: auto;
}

header {
    height: 8rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 5rem;
    background-color: #FF9E9E;
    color: #FFF5CC;
}

section {
    background-color: #FF9E9E;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 2rem;
    justify-content: space-evenly;
    
}
.gameBoard {
    display: grid;
    max-width: min-content;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}

.square {
    width: 100px;
    border: 3px solid #FFF5CC;
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: default;
    user-select: none;
}



button {
    height: 2rem;
    width: 4rem;
    border: 0;
    border-radius: 5px;
    color: #FF9E9E;
    background-color: #FFF5CC;
}

input {
    color: #FF9E9E;
    background-color: #FFF5CC;
    border: 0;
    margin-left: 0.4rem;
    height: 1.4rem;
}

.hide {
    display: none !important;
}

footer {
    position: absolute;
    bottom: 0%;
    background-color: #FF9E9E;
    color: #FFF5CC;
    text-align: center;
    width: 80%;
    height: 2rem;
    padding: 0.5rem;
}

.info {
    max-width: max-content;
    color: #FFF5CC;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}